@import "reset.css";
@import "vars.css";
@import "utility-classes.css";

/* HTMX */

.htmx-indicator {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}                      

.htmx-request.htmx-indicator {
    opacity: 1;
}