/* RESET */

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}

body {
    height: 100%;
    overflow: hidden;
}

/* ---------------- */

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('droidsansmono.woff2') format('woff2'),
         url('droidsansmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: rgb(19, 19, 19);
    --text-color:  rgb(204, 202, 202);
    --anchor-color: hsl(0, 0%, calc(100% - (2 * (100% - luminance(currentColor))))); 
    --thin-border: 1px solid rgb(63, 63, 63);
    --typename-color: rgb(83, 214, 188);
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Droid Sans Mono';
}

a {
    color: var(--anchor-color);
}


#main {
    height: 100%;
}

#graph-wrapper {
    padding: 5px;
    height: 100%;
    width: 100%;
}

.sysgraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.sysgraph__nodes {
    height: 100%;
    overflow-y: scroll;
    padding-left: 10px;
}

.sysgraph-node__edges {
    padding-left: 10px;
}

.sysgraph-node, .sysgraph-event {
    padding: 5px;
    margin: 3px;
    border: var(--thin-border);
    border-radius: 5px;
}

.sysgraph-node__typename {
    color: var(--typename-color);
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.sysgraph__events {
    width: max-content;
}