:root {
    --main-bg-color: rgb(19, 19, 19);
    --selected-item-bg-color: rgb(26, 25, 25);
    --code-err-msg-bg-color: rgb(41, 41, 41);
    --thin-border: 1px solid rgb(63, 63, 63);
    --line-number-color: rgba(138, 138, 138, 0.753);

    --editor-default-syntax-color: rgb(204, 202, 202);
    --editor-keyword-color: rgb(235, 126, 226);
    --editor-stringlike-literal-color: rgba(255, 166, 106);
    --editor-numberlike-literal-color: rgb(61, 223, 61);
    --editor-pattern-name-color: rgb(83, 214, 188);
    --editor-constant-color: rgba(74, 140, 240);
    --editor-property-color:rgb(156, 191, 243);
    --editor-comment-color: rgb(106, 153, 85);
}

/* RESET */

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* TOP LEVEL */

html {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    height: 100%;
    overflow: hidden;
    color: rgb(204, 202, 202);
    font-size: 14px;
}

body {
    height: 100%;
    overflow: hidden;
}


@font-face {
    font-family: 'Droid Sans Mono';
    src: url('fonts/droidsansmono.woff2') format('woff2'),
         url('fonts/droidsansmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#editor-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* OVERRIDE CODE MIRROR STYLES */

.CodeMirror {
    font-family: 'Droid Sans Mono';
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100%;
    padding: 7px;
}

.cm-s-default .cm-variable {
    color: var(--editor-default-syntax-color);
}

.cm-s-default .cm-punctuation, .cm-s-default .cm-operator {
    color: var(--editor-default-syntax-color);
}

.cm-s-default .cm-keyword {
    color: var(--editor-keyword-color);
}


.cm-s-default .cm-number {
    color: var(--editor-numberlike-literal-color);
}

.cm-s-default .cm-type {
    color: var(--editor-pattern-name-color);
}

.cm-s-default .cm-string {
    color: var(--editor-stringlike-literal-color);
}

.cm-s-default .cm-atom {
    color: var(--editor-constant-color);
}

.cm-s-default .cm-property {
    color: var(--editor-property-color);
}


.cm-s-default .cm-comment {
    color: var(--editor-comment-color);
}

.CodeMirror-cursor {
    border-left-color: var(--editor-default-syntax-color);
}